# Ignore everything
/*

# But not these files...
!.gitignore
!.md
!.toml
!.jl

# src 
!/src/
/src/*
!/src/*.jl

# models
!/src/models/
!/src/models/*
!/src/models/*.jl

# policies
!/src/policies/
!/src/policies/*
!/src/policies/*.jl

# visualization
!/src/visualization/
!/src/visualization/*
!/src/visualization/*.jl

# test
!/test/
/test/*
!/test/*.jl

# etc...